@model IEnumerable<ERecruitmentMvc.Models.Job>

@{
    ViewData["Title"] = "ERec - Jobs";
}
@section Scripts{

<script type="text/javascript">
    function cardFilter() {
        jQuery.expr[':'].Contains = function (a, i, m) {
            return jQuery(a).text().toUpperCase()
                .indexOf(m[3].toUpperCase()) >= 0;
        };
        $('.container').find(".card-title:not(:contains(" + filter + "))").parents('.row').css('display', 'block');
        $('.card').show();
        var filter = $('#searchTerm').val(); // get the value of the input, which we filter on
        $('.container').find(".card-title:not(:contains(" + filter + "))").parents('.row').css('display', 'none');
    }

    
</script>
 }
    <div class="row mt-2">
        <div class="col-12">
            <div class="input-group">
                <input id="searchTerm" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                       aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary" onclick="cardFilter()" >search</button>
            </div>
        </div>
        </div>    
        @foreach (var job in Model)
        {
            <div class="row mt-2">
                <div class="col-12">
                    <div class="card border-dark text-dark">
                        <div class="card-body ">
                            <div class="content">
                                <h4 id="Title" class="card-title">@job.Title</h4>
                                <h6 class="card-subtitle mb-2">@job.Teaser</h6>
                                <div class="hover_content">
                                    <p class="card-text">@job.BulletPoints001</p>
                                    <p class="card-text">@job.BulletPoints002</p>
                                    <p class="card-text">@job.BulletPoints003</p>
                                    <a asp-action="Details" asp-route-id="@job.Id" class="card-text text-right">Readmore...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        }
